#Box1{
    height:100px;
    width: 100px;
    background: red;
    visibility: visible;
    transition: all 0.3s ease;
    color: white;
    text-align: center;
}

#Box2{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 1rem auto;
}
#Box3{
    height: 100px;
    width: 100px;
    background-color: green;
    margin: 1rem auto;
}
#Box4{
    height: 100px;
    width: 100px;
    background-color: yellow;
    margin: 1rem auto;
}
body{
    height: 50rem;
}
div{
    transition:all 0.3s ease;
    display: inline-block;
    position: absolute;
    background: blue;
    height: 50px;
    width: 50px;
}
div:hover{
    background:#53a7ea
}
section{
    position: absolute;
    width: 50rem;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    text-align: center;
    left: 0;
    right: 0;
    border: black solid thick;
}
h2{
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 1rem;
    font-size: 40px;
}
